<div class="container-lg">
  <form [formGroup]="CreateEditForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div *ngIf="isCreate; else elseBlock" class="title_modal" style="padding-right: 0px; margin-bottom: 20px;">Thêm
        mới phương tiện</div>
      <ng-template #elseBlock style="font-size: large; font-weight: 500; border-bottom: 1px solid #9d9d9d;">
        <div class="title_modal" style="padding-right: 0px; margin-bottom: 20px;">
          Sửa phương tiện
        </div>
      </ng-template>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Mã máng xuất</label>
          <input type="text" class="form-control" formControlName="code" maxlength="5">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Tên</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Cao</label>
          <input type="number" class="form-control" formControlName="height">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Rộng</label>
          <input type="number" class="form-control" formControlName="width">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Dài</label>
          <input type="number" class="form-control" formControlName="long">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Trạng thái</label>
          <select class="form-control" formControlName="state">
            <option *ngFor="let a of lstState" [ngValue]="a.value">{{a.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Trạng thái làm việc</label>
          <select class="form-control" formControlName="working">
            <option *ngFor="let a of lstWorking" [ngValue]="a.value">{{a.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Vấn đề</label>
          <select class="form-control" formControlName="problem">
            <option *ngFor="let a of lstProblem" [ngValue]="a.value">{{a.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">deliveryCodeCurrent</label>
          <input type="text" class="form-control" formControlName="deliveryCodeCurrent" maxlength="50">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">planQuantityCurrent</label>
          <input type="number" class="form-control" formControlName="planQuantityCurrent">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">countQuantityCurrent</label>
          <input type="number" class="form-control" formControlName="countQuantityCurrent">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">checkInTimeCurrent</label>
          <input type="datetime-local" class="form-control" formControlName="checkInTimeCurrent">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">transportNameCurrent</label>
          <input type="text" class="form-control" formControlName="transportNameCurrent" maxlength="50">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">IsPicking</label>
          <select class="form-control" formControlName="isPicking">
            <option *ngFor="let a of lstIsPicking" [ngValue]="a.value">{{a.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">IsInviting</label>
          <select class="form-control" formControlName="isInviting">
            <option *ngFor="let a of lstIsInviting" [ngValue]="a.value">{{a.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">LineCode</label>
          <input type="text" class="form-control" formControlName="lineCode" maxlength="2">
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-success" type="submit">Lưu</button>
      <button type="button" class="btn btn-secondary" style="margin-left: 10px;" mat-button
        mat-dialog-close>Đóng</button>
    </div>
  </form>
</div>
