<div class="container-lg">
    <form [formGroup]="CreateEditForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div  *ngIf="isCreate; else elseBlock" class="title_modal" style="padding-right: 0px; margin-bottom: 20px;">Thêm mới tài khoản</div >
            <ng-template #elseBlock  style="font-size: large; font-weight: 500; border-bottom: 1px solid #9d9d9d;">
                <div class="title_modal" style="padding-right: 0px; margin-bottom: 20px;">
                    Chi tiết tài khoản
                </div>
            </ng-template>        
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Tài khoản</label>
                    <input type="text" class="form-control" formControlName="userName" [readonly]="(customerId&&!isCreate)">
                    <div *ngIf="submited && userName?.errors?.['required']">
                        <span *ngIf="userName?.errors?.['required']" style="color: red;">Trường bắt buộc nhập</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Tên</label>
                    <input type="text" class="form-control" formControlName="fullName" autocomplete="disabled">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Mật khẩu</label>
                    <input  *ngIf="isCreate; else elseBlock1" type="password" class="form-control" formControlName="password">
                    <ng-template #elseBlock1>
                        <input type="password" class="form-control" formControlName="password" 
                        title="Vui lòng để trống nếu không thay đổi"
                        placeholder="Vui lòng để trống nếu không thay đổi">
                    </ng-template>  
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Nhóm người dùng</label>
                    <input type="text" class="form-control" formControlName="groupId" hidden="true" [disabled]="true"> 
                    <app-multidropdown 
                        [items]="groupList"
                        [showSearch]=true
                        [showAll]=false
                        [showStatus]=true
                        [showError]=false
                        [name]="groupSelected"
                        placeholder="Chọn nhóm" 
                        (itemChange)="onDropDownChange($event)">
                    </app-multidropdown>
                </div>
                <div *ngIf="submited && groupId?.errors?.['required']">
                    <span *ngIf="groupId?.errors?.['required']" style="color: red;">Trường bắt buộc nhập</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-6">
                    <label for="exampleFormControlInput1" class="form-label">Trạng thái</label>
                    <mat-radio-group class="form-control no-border" (change)="radioChange($event)" formControlName="state" >
                        <mat-radio-button [checked]='stateChecked' [value]=true> Hoạt động</mat-radio-button>
                        <mat-radio-button [checked]='!stateChecked' [value]=false>Khóa</mat-radio-button>
                        <!-- <mat-radio-button [checked]='stateChecked==a.value' *ngFor="let a of lstState" [value]=a.value>{{a.name}}</mat-radio-button> -->
                    </mat-radio-group>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-success" type="submit">Lưu</button>
            <button type="button" class="btn btn-secondary" style="margin-left: 10px;" mat-button mat-dialog-close>Đóng</button>
        </div>
    </form>
</div>
