<div style="position: absolute; top: 40%; left: 40%;">
  <mat-spinner *ngIf="loading == true"></mat-spinner>
</div>
<div style="background-color: white; padding: 20px 23px; border: 1px solid rgba(0,0,0,.125);">
  <mat-tab-group dynamicHeight class="weight-tab" animationDuration="0ms"
    (selectedIndexChange)="myTabSelectedIndexChange($event)">
    <mat-tab label="Danh sách xe đang cân">
      <div class="row g-0 weight-info-item">
        <div class="col-sm-9 weight-info-left">
          <div class="row g-0 weight-info">
            <div class="col-sm-3 weight-info-1">
              <h1 class="line1">Cân 1</h1>
              <h2 class="line2">Cân tự động</h2>
            </div>
            <div class="col-sm-3 weight-info-2">
              <p>15H 12345</p>
            </div>
            <div class="col-sm-6 weight-info-3">
              20000
            </div>
          </div>
          <div class="d-flex w-100">
            <table class="w-100 weight-table">
              <thead>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                <tr>
                  <td>Lái xe: </td>
                  <td></td>
                </tr>
                <tr>
                  <td>KL bì: </td>
                  <td></td>
                </tr>
                <tr>
                  <label>KL hàng: </label>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <table class="w-100 weight-table">
              <thead>
                <th>MSGH</th>
                <th>SL Đặt</th>
                <th>SL Đặt</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of [1,2,3]">
                  <td>{{item}}</td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-3 weight-info-right">
          <div class="kl-title">
            <div class="kl-title-element">
              <span>
                SỐ LIỆU CÂN (KG)
              </span>
            </div>
          </div>
          <div class="kl-title-bot">
            <ul>
              <li class="kl-item"><span>KL bì:</span><span>0</span></li>
              <li class="kl-item"><span>KL bì:</span><span>0</span></li>
              <li class="kl-item"><span>KL bì:</span><span>0</span></li>
              <li class="kl-item"><span>KL bì:</span><span>0</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row g-0 weight-info-item">
        <div class="col-sm-9 weight-info-left">
          <div class="row g-0 weight-info">
            <div class="col-sm-3 weight-info-1">
              <h1 class="line1">Cân 2</h1>
              <h2 class="line2">Cân tự động</h2>
            </div>
            <div class="col-sm-3 weight-info-2">
              <p>15H 12345</p>
            </div>
            <div class="col-sm-6 weight-info-3">
              20000
            </div>
          </div>
          <div>
            <table class="weight-table">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>MSGH</th>
                  <th>SL Đặt</th>
                  <th>SL Đặt</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Lái xe:</b></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td><b>KL bì: </b></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td><b>KL hàng: </b></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-3 weight-info-right">
          <div class="kl-title">
            <div class="kl-title-element">
              <span>
                SỐ LIỆU CÂN (KG)
              </span>
            </div>
          </div>
          <div class="kl-title-bot">
            <ul>
              <li class="kl-item"><span>KL bì:</span><span>0</span></li>
              <li class="kl-item"><span>KL bì:</span><span>0</span></li>
              <li class="kl-item"><span>KL bì:</span><span>0</span></li>
              <li class="kl-item"><span>KL bì:</span><span>0</span></li>
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Danh sách đơn hàng">
      <app-order-operating-list showType="QLTC"></app-order-operating-list>
    </mat-tab>
  </mat-tab-group>

</div>
