/*<< login, forgot, send verify code */
.main-login
{
    background-image: url(../../../../assets/img/bg2.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-login .box-login {
    width: 400px;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 5px 45px rgba(0,0,0,0.15);
    background-color: white;
}

.main-login .box-login .Logo {
    flex: 1;
    padding-top: 50px;
}

.main-login .box-login .form {
    flex: 2;    
    width: 100%;
}
.main-login .box-login .form .form-input
{
    padding: 0 50px;
}
  
.main-login .box-login .form .form-action
{
    padding: 5px 50px;
}
.main-login .box-login .form .form-input .example-full-width {
width: 100%;
}

.main-login .mat-raised-button {
    width: 100%;
    background-color: #a17c50 !important;
}

.main-login div.form-action> a {
    color: #a17c50 !important;
}

/* login, forgot, send verify code >> */


.mt_checkbox{
    margin-top: 29px;
    

}
@media (max-width: 768px) {
    .mt_checkbox{
        margin-top: 0px;
        margin-bottom: 29px;
    }
    /* .mat-drawer {
        transform: translate3d(-100%, 0, 0) !important;
    }
    .mat-sidenav-content{
      margin-left:  0px !important;
    } */
    .box-login{
        box-shadow: 0 5px 45px rgb(0 0 0 / 0%) !important;
    }
    /* .title_modal{
        font-weight: 500;
        font-size: larger;
    } */
}


/* common */
.hight_modal{
    max-height: 500px;
}

.title_modal{
    font-size: large !important;
    font-weight: 500 !important;
    border-bottom: 1px solid #a17c50 !important;
}

.ng-star-inserted{
    stroke-width: 4% !important;
}

.no-border {
    border: 0 !important;
    box-shadow: none !important; 
}

/* navi tab */
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #a17c50 !important;
}



/* material */

.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #a17c50 !important;
}

.mat-progress-spinner svg {
    width: 80px !important;
    height: 80px !important;
}


/* radio */
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #9e7b4c !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #9e7b4c !important;
}

/* paging */

.pagination a.active {
    background-color: #9e7b4c !important;
}

/* secondary customize -> them moi */
.btn-outline-secondary {
    --bs-btn-color: #a17c50 !important;
    --bs-btn-border-color: #a17c50 !important;
    --bs-btn-hover-bg: #a17c50 !important;
    --bs-btn-hover-border-color: #a17c50 !important;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-bg: #a17c50 !important;
    --bs-btn-active-border-color: #a17c50 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #a17c50 !important;
    
}