<div style="position: absolute; top: 40%; left: 40%;">
  <mat-spinner *ngIf="loading == true"></mat-spinner>
</div>
<div style="background-color: white; padding: 20px 23px; border: 1px solid rgba(0,0,0,.125);">
  <mat-tab-group animationDuration="0ms" (selectedIndexChange)="myTabSelectedIndexChange($event)">
    <mat-tab label="Danh sách xe đang cân">
      <div class="row">
        <h2 class="col-sm-6" style="font-weight: 500;">Danh sách xe đang cân</h2>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th style="text-align: center;">STT</th>
              <th>Biển số xe</th>
              <th>MSGH</th>
              <th>Sản phẩm</th>
              <th>Khối lượng đặt hàng</th>
              <th>Khối lượng thực xuất</th>
              <th>Khối lượng lệch</th>
              <th>Độ lệch %</th>
              <th>Cảnh báo cân ra</th>
            </tr>
          </thead>
          <tbody style="border-top: none;">
            <tr *ngFor="let item of lstdata; index as i" class="align-middle">
              <td style="text-align: center;">{{i + 1}}</td>
              <td>{{item.vehicle}}</td>
              <td>{{item.deliveryCode}}</td>
              <td>{{item.nameProduct}}</td>
              <td>{{item.sumNumber}}</td>
              <td>{{item.weightOut - item.weightIn}}</td>
              <td>{{item.weightOut - item.sumNumber}}</td>
              <td>{{((item.weightOut*100/item.sumNumber).toFixed(2))}}</td>
              <td>{{item.warningNotCall}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Danh sách đơn hàng">
      <app-order-operating-list showType="CLINKER"></app-order-operating-list>
    </mat-tab>
  </mat-tab-group>

</div>
