<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
    <div style="padding:10px; text-align:center;">
      <img src="assets/img/logo1.png" alt="" class="" style=" width:80%;">
      <!-- <span class=" font-weight-light text-white pt-2 h6">Vicem Hải Phòng</span> -->
    </div>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div class="toolbar-left">
        <mat-icon style="cursor: pointer;" (click)="opened=!opened">menu</mat-icon>
        <span style="padding-left: 10px;">Trang chủ</span>
      </div>

      <div class="toolbar-right">
        <mat-icon class="mat-icon-rtl-mirror" style="padding-right: 10px;">notifications_none</mat-icon>
          
          
          <div class="">
              <div  [matMenuTriggerFor]="menu" >
                <!-- <img id="myBtn" *ngIf="!urlAvartar" src="assets/img/avatar5.png" style="width: 45px;height: 45px;border-radius: 50%; cursor: pointer;"/>
                <img *ngIf="urlAvartar" id="myBtn" [src]="urlAvartar" style="width: 45px;height: 45px;border-radius: 50%; cursor: pointer;"/> -->
                <img id="myBtn" src="assets/img/avatar5.png" style="width: 45px;height: 45px;border-radius: 50%; cursor: pointer;"/>
              </div>
              <mat-menu #menu="matMenu">
                <a routerLink="tai-khoan" mat-menu-item>

                  <mat-icon>edit</mat-icon>
                  <span>
                          Thay đổi thông tin
                  </span>
                </a>
                <a (click)="LogOut()" mat-menu-item>
                  <mat-icon>logout</mat-icon>
                  <span>
                          Đăng xuất
                  </span>
                </a>
               
              </mat-menu>
            </div>
        </div>
  
    </mat-toolbar>

    <div class="content">
      <ng-container>
        <div class="" style="position: relative; padding: 20px;">
          <router-outlet></router-outlet>
        </div>
      </ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>