.order-info table,th, td {
  border: 1px solid black;
  padding: 10px;
}
.order-info table {
  width: 100%;
  text-align: center;
}
.order-info td {
  padding: 10px;
}

.bg-orange {
  background-color: #9e7b4c;
  margin-top: 5px;
  color: #ffffff;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.w-100 {
  width: 100%;
}

.vehicle-realtime {
  display: flex;
  justify-content: space-between;
}

.vehicle-realtime h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.enterExit-list thead {
  background-color: #9e7b4c;
  color: #ffffff;
}

.enter-title, .exit-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 20px;
}

.btn-border {
  border: 1px solid #ffffff;
}

.btn-border i {
  color: #ffffff;
}

.enter-driver, .exit-driver {
  color: #9e7b4c;
}

.vehicle-left {
  margin-right: 10px;
}
