.order-info table,th, td {
  border: 1px solid black;
}
.order-info td {
  padding: 10px;
}
.order-info-detail {
  width: 500px;
}
.order-info-name {
  font-weight: bold;
}
.text-center {
  text-align: center;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.order-info table {
  margin: 0 auto;
  margin-bottom: 20px;
}

.bg-gray {
  background-color: #cecece;
  margin: 5px
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.w-100 {
  width: 100%;
}
