.mr-4 {
  margin-right: 4px;
}
.mr-10 {
    margin-right: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.text-nowrap {
  white-space: nowrap ;
}

.activeClass {
  background-color: #bfbfbf;
}

.disableClick {
  pointer-events: none;
  cursor: default;
  color: rgb(156, 156, 156);
}

.dropdown-item i {
  margin-right: 8px;
}

.btn-function button {
  margin-top: 20px;
}

.btn-orange {
    background-color: #C49D6B;
    color: #ffffff;
}

.btn-function {
    background-color: #ffffff;
    padding: 10px;
}

.btn-function-title {
    padding: 10px;
}
.order-history {
    margin-top: 10px;
}
.order-history-item {
    margin-bottom: 10px;
}
.order-history-input {
    margin-left: 5px;
    width: 100%;
    padding: 5px;
}
.order-history-item label {
    font-size: 16px;
    white-space: nowrap;
}

.order-history-item textarea {
    width: 100%;
}

