<div style="position: absolute; top: 40%; left: 40%;">
  <mat-spinner *ngIf="loading == true"></mat-spinner>
</div>
<div style="background-color: white; padding: 20px 23px; border: 1px solid rgba(0,0,0,.125);">
  <div class="row">
    <h2 class="col-sm-6" style="font-weight: 500;">Danh sách đơn hàng</h2>
  </div>

  <div class="row" style=" margin-bottom: 25px;">
    <div class="col-lg-9 col-sm-12 d-flex justify-content-between">
      <div class="col-sm-3 mr-10">
        <input type="text" class="form-control" placeholder="Biển số xe" aria-label="Recipient's username"
          aria-describedby="button-addon2" [(ngModel)]="PageInfo.Keyword" (ngModelChange)="searchVehicle($event)">
      </div>
      <div class="col-sm-3 mr-10">
        <input type="text" class="form-control" placeholder="MSGH" aria-label="Recipient's username"
          aria-describedby="button-addon2" [(ngModel)]="PageInfo.deliveryCode"
          (ngModelChange)="searchDeliverCode($event)">
      </div>
      <div class="col-sm-3 mr-10">
        <select class="form-control" [(ngModel)]="PageInfo.step" (ngModelChange)="searchStep($event)">
          <option value="" disabled selected hidden>Trạng thái</option>
          <option *ngFor="let op of options" [value]="op.value">
            {{op.name}}
          </option>
        </select>
      </div>
      <div class="col-sm-3 mr-10">
        <button type="button" class="btn btn-outline-secondary" (click)="resetFilter()">
          <b><i class="bi bi-arrow-clockwise"></i></b>
        </button>
      </div>
    </div>
    <div class="col-lg-3 d-flex justify-content-end">
      <div>
        <button type="button" class="btn btn-success text-nowrap" (click)="exportReport()">Xuất báo cáo</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <!-- menu điều hành đơn hàng  -->
      <table *ngIf="showType === 'DHD'" class="table table-striped table-hover">
        <thead>
          <tr>
            <th style="text-align: center;">STT</th>
            <th>Ngày đặt hàng</th>
            <th>MSGH</th>
            <th>Biển số xe</th>
            <th>Tên lái xe</th>
            <th>Tên nhà phân phối</th>
            <th>Hàng hóa</th>
            <th>KL đặt hàng</th>
            <th>STT đặt hàng</th>
            <th>Trạng thái</th>
            <th style="text-align: center;">Chi tiết</th>
          </tr>
        </thead>
        <tbody style="border-top: none;">
          <tr [ngClass]="{'activeClass': itemSelected == item}" *ngFor="let item of lstdata.data; index as i"
            class="align-middle" (click)="itemSelected = item" role="button">
            <td style="text-align: center;">{{i + 1}}</td>
            <td>{{item.orderDate | date:'dd/mm/YYYY hh:ss' }}</td>
            <td>{{item.deliveryCode}}</td>
            <td>{{item.vehicle}}</td>
            <td>{{item.driverName}}</td>
            <td>{{item.nameDistributor}}</td>
            <td>{{item.nameProduct}}</td>
            <td>{{item.sumNumber}}</td>
            <td>{{item.indexOrder}}</td>
            <td>{{convertHelper.showStep(item.step)}}</td>
            <td style="text-align: center;">
              <i class="bi bi-pencil-square" style="font-size:15px;cursor: pointer;" (click)="openEdit(item.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- menu quản lý vào ra -->
      <table *ngIf="showType === 'QLVR'" class="table table-striped table-hover">
        <thead>
          <tr>
            <th style="text-align: center;">STT</th>
            <th>Ngày đặt hàng</th>
            <th>MSGH</th>
            <th>Biến số xe</th>
            <th>Giờ vào cổng</th>
            <th>Giờ ra cổng</th>
            <th>Giờ cân vào</th>
            <th>Giờ cân ra</th>
            <th>Họ tên lái xe</th>
            <th>Nhà phân phối/khách hàng</th>
            <th>Hàng hóa</th>
            <th>KL đặt hàng</th>
            <th>Trạng thái đơn hàng</th>
            <th>Cảnh báo cân</th>
            <th style="text-align: center;">Chi tiết</th>
          </tr>
        </thead>
        <tbody style="border-top: none;">
          <tr [ngClass]="{'activeClass': itemSelected == item}" *ngFor="let item of lstdata.data; index as i"
            class="align-middle" (click)="itemSelected = item" role="button">
            <td style="text-align: center;">{{i + 1}}</td>
            <td>{{item.orderDate | date:'dd/mm/YYYY hh:ss'}}</td>
            <td>{{item.deliveryCode}}</td>
            <td>{{item.vehicle}}</td>
            <td>{{item.timeConfirm2}}</td>
            <td>{{item.timeConfirm8}}</td>
            <td>{{item.timeConfirm3}}</td>
            <td>{{item.timeConfirm7}}</td>
            <td>{{item.driverName}}</td>
            <td>{{item.nameDistributor}}</td>
            <td>{{item.nameProduct}}</td>
            <td>{{item.sumNumber}}</td>
            <td>{{convertHelper.showStep(item.step)}}</td>
            <td>{{item.warningNotCall}}</td>
            <td style="text-align: center;">
              <i class="bi bi-pencil-square" style="font-size:15px;cursor: pointer;" (click)="openEdit(item.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- menu quản lý trạm cân 951, clinker -->
      <table *ngIf="showType === 'QLTC' || showType === 'CLINKER'" class="table table-striped table-hover">
        <thead>
          <tr>
            <th style="text-align: center;">STT</th>
            <th>Ngày đặt hàng</th>
            <th>MSGH</th>
            <th>Biến số xe</th>
            <th>Mã thẻ RFID</th>
            <th>Giờ nhận đơn</th>
            <th>Giờ vào cổng</th>
            <th>Họ tên lái xe</th>
            <th>Nhà phân phối/khách hàng</th>
            <th>Hàng hóa</th>
            <th>KL đặt hàng</th>
            <th>Trạng thái đơn hàng</th>
            <th style="text-align: center;">Chi tiết</th>
          </tr>
        </thead>
        <tbody style="border-top: none;">
          <tr [ngClass]="{'activeClass': itemSelected == item}" *ngFor="let item of lstdata.data; index as i"
            class="align-middle" (click)="itemSelected = item" role="button">
            <td style="text-align: center;">{{i + 1}}</td>
            <td>{{item.orderDate | date:'dd/mm/YYYY hh:ss'}}</td>
            <td>{{item.deliveryCode}}</td>
            <td>{{item.vehicle}}</td>
            <td>{{item.cardNo}}</td>
            <td>{{item.timeConfirm4}}</td>
            <td>{{item.timeConfirm2}}</td>
            <td>{{item.driverName}}</td>
            <td>{{item.nameDistributor}}</td>
            <td>{{item.nameProduct}}</td>
            <td>{{item.sumNumber}}</td>
            <td>{{convertHelper.showStep(item.step)}}</td>
            <td style="text-align: center;">
              <i class="bi bi-pencil-square" style="font-size:15px;cursor: pointer;" (click)="openEdit(item.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- menu quản lý hàng máng xuất xi bao -->
      <table *ngIf="showType === 'MXXB' || showType === 'MXXR'" class="table table-striped table-hover">
        <thead>
          <tr>
            <th style="text-align: center;">STT</th>
            <th>Ngày đặt hàng</th>
            <th>MSGH</th>
            <th>Biến số xe</th>
            <th>Họ tên lái xe</th>
            <th>Nhà phân phối/khách hàng</th>
            <th>Hàng hóa</th>
            <th>KL đặt</th>
            <th>KL xuất</th>
            <th>Máng</th>
            <th>Trạng thái đơn hàng</th>
            <th style="text-align: center;">Chi tiết</th>
          </tr>
        </thead>
        <tbody style="border-top: none;">
          <tr [ngClass]="{'activeClass': itemSelected == item}" *ngFor="let item of lstdata.data; index as i"
            class="align-middle" (click)="itemSelected = item" role="button">
            <td style="text-align: center;">{{i + 1}}</td>
            <td>{{item.orderDate | date:'dd/mm/YYYY hh:ss'}}</td>
            <td>{{item.deliveryCode}}</td>
            <td>{{item.vehicle}}</td>
            <td>{{item.driverName}}</td>
            <td>{{item.nameDistributor}}</td>
            <td>{{item.nameProduct}}</td>
            <td>{{item.sumNumber}}</td>
            <td>{{item.weightOut}}</td>
            <td>{{item.trough}}</td>
            <td>{{convertHelper.showStep(item.step)}}</td>
            <td style="text-align: center;">
              <i class="bi bi-pencil-square" style="font-size:15px;cursor: pointer;" (click)="openEdit(item.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <app-pagination [Pagination]="Pagination" (changePage)="onChangePage($event)"></app-pagination>
    </div>
  </div>
</div>

<!-- chức năng menu điều hành đơn -->
<div *ngIf="showType === 'DHD'" class="btn-function">
  <div>
    <button class="btn btn-secondary mr-10" [ngClass]="{'disableClick': itemSelected == null}"
      (click)="openMediaEnter(itemSelected.vehicle)"><i class="bi bi-volume-up-fill"></i>Mời xe vào lấy
      hàng</button>
    <button class="btn btn-secondary mr-10" [ngClass]="{'disableClick': itemSelected == null}"
      (click)="openMediaOut(itemSelected.vehicle)"><i class="bi bi-volume-up-fill"></i>Mời xe ra khỏi
      bàn</button>
    <button class="btn btn-secondary mr-10" [ngClass]="{'disableClick': itemSelected == null}">
      Nhận đơn
    </button>
    <button class="btn btn-secondary mr-10" [ngClass]="{'disableClick': itemSelected == null}">
      Huỷ nhận đơn
    </button>
    <button class="btn btn-secondary mr-10" [ngClass]="{'disableClick': itemSelected == null}">
      Hủy số thứ tự lấy hàng đã cấp
    </button>
    <button class="btn btn-secondary mr-10" [ngClass]="{'disableClick': itemSelected == null}">
      Thay đổi số thứ tự đã cấp
    </button>
    <button class="btn btn-secondary mr-10" [ngClass]="{'disableClick': itemSelected == null}">
      Gửi thông tin vào máng xuất
    </button>
    <button class="btn btn-secondary mr-10" [ngClass]="{'disableClick': itemSelected == null}">
      Kết thúc đơn hàng
    </button>
    <button class="btn btn-secondary mr-10" [ngClass]="{'disableClick': itemSelected == null}">
      In phiếu xuất kho
    </button>
    <button class="btn btn-secondary mr-10" [ngClass]="{'disableClick': itemSelected == null}">
      In phiếu cân
    </button>
  </div>
</div>

<!-- chức năng menu quản lý máng xuất xi bao, máng xuất xi rời  -->
<div *ngIf="showType === 'MXXB' || showType === 'MXXR'" class="btn-function">
  <button class="btn btn-secondary mr-10" [ngClass]="{'disableClick': itemSelected == null}">
    Thay đổi máng xuất của đơn hàng
  </button>
  <button class="btn btn-secondary mr-10" [ngClass]="{'disableClick': itemSelected == null}">
    Gọi xe vào máng lấy hàng
  </button>
  <button class="btn btn-secondary mr-10" [ngClass]="{'disableClick': itemSelected == null}">
    Cập nhật trạng thái máng xuất
  </button>
</div>
