<div class="container-lg">
  <form [formGroup]="CreateEditForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div *ngIf="isCreate; else elseBlock" class="title_modal" style="padding-right: 0px; margin-bottom: 20px;">Thêm
        mới phương tiện</div>
      <ng-template #elseBlock style="font-size: large; font-weight: 500; border-bottom: 1px solid #9d9d9d;">
        <div class="title_modal" style="padding-right: 0px; margin-bottom: 20px;">
          Sửa phương tiện
        </div>
      </ng-template>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Biển số xe</label>
          <input type="text" class="form-control" formControlName="vehicle">
          <div *ngIf="submited && vehicle?.errors?.['required']">
            <span *ngIf="vehicle?.errors?.['required']" style="color: red;">Trường bắt buộc nhập</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Giấy phép lái xe</label>
          <input type="text" class="form-control" formControlName="idCardNumber">
          <div *ngIf="submited && idCardNumber?.errors?.['required']">
            <span *ngIf="idCardNumber?.errors?.['required']" style="color: red;">Trường bắt buộc nhập</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Người lái</label>
          <input type="text" class="form-control" formControlName="nameDriver">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Trọng tải</label>
          <input type="number" class="form-control" formControlName="tonnage">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Chiều cao</label>
          <input type="number" class="form-control" formControlName="heightVehicle">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Trọng lượng không tải trung bình</label>
          <input type="number" class="form-control" formControlName="tonnageDefault">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Trọng Lg không tải 1</label>
          <input type="number" class="form-control" formControlName="unladenWeight1">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Trọng Lg không tải 2</label>
          <input type="number" class="form-control" formControlName="unladenWeight2">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Trọng Lg không tải 3</label>
          <input type="number" class="form-control" formControlName="unladenWeight3">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Trọng Lg không tải TB?</label>
          <select class="form-control" formControlName="isSetMediumUnladenWeight">
            <option [ngValue]="true">Yes</option>
            <option [ngValue]="false">No</option>
          </select>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-success" type="submit">Lưu</button>
      <button type="button" class="btn btn-secondary" style="margin-left: 10px;" mat-button
        mat-dialog-close>Đóng</button>
    </div>
  </form>
</div>
