<div style="position: absolute; top: 40%; left: 40%;">
    <mat-spinner *ngIf="loadding == true" ></mat-spinner>
  </div>
  <div style="background-color: white; padding: 20px 23px; border: 1px solid rgba(0,0,0,.125);">
      <div class="row">
          <h2 class="col-sm-6" style="font-weight: 500;">Danh sách thiết bị</h2>
      </div>
  
      <div class="row" style=" margin-bottom: 25px;">
          <div class="col-sm-4">
          </div>
          <div class="col-md-8" style="text-align: right;">
  
          </div>
      </div>
        <nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
            <a class="navbar-brand" href="#"></a>
            <ul class="nav nav-pills">
              <!-- <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading1">First</a>
              </li> -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Hạng mục</a>
                <ul class="dropdown-menu">
                  <li *ngFor="let item of categoryList; index as i;"><a class="dropdown-item" href="#scroll{{item.code}}">{{item.name}}</a></li>
                  <!-- <li><hr class="dropdown-divider"></li> -->
                </ul>
              </li>
            </ul>
          </nav>
          <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
            <div *ngFor="let item of categoryList; index as i;">
                <h3 id="scroll{{item.code}}">{{item.name}}</h3>
                <h4>This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.</h4>
                <div class="title_modal" style="padding-right: 0px; margin-bottom: 10px;"></div>
            </div>
          </div>

          
  </div>
  