<div class="container-lg">
    <form [formGroup]="CreateEditForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div  *ngIf="isCreate; else elseBlock" class="title_modal" style="padding-right: 0px; margin-bottom: 20px;">Thêm mới thiết bị</div >
                <ng-template #elseBlock  style="font-size: large; font-weight: 500; border-bottom: 1px solid #9d9d9d;">
                    <div class="title_modal" style="padding-right: 0px; margin-bottom: 20px;">
                        Thông tin thiết bị
                    </div>
                </ng-template>        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Code</label>
                    <input type="text" class="form-control" formControlName="code" [readonly]="(customerId&&!isCreate)">
                    <div *ngIf="submited && code?.errors?.['required']">
                        <span *ngIf="code?.errors?.['required']" style="color: red;">Trường bắt buộc nhập</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Tên</label>
                    <input type="text" class="form-control" formControlName="name">
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Code cha</label>
                    <input type="text" class="form-control" formControlName="codeParent">
                    <div *ngIf="submited && name?.errors?.['required']">
                        <span *ngIf="name?.errors?.['required']" style="color: red;">Trường bắt buộc nhập</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">IP address</label>
                    <input type="text" class="form-control" formControlName="ipaddress">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Port</label>
                    <input type="text" class="form-control" formControlName="port">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Input Port</label>
                    <input type="number" class="form-control" formControlName="inputPort">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Output Address Type</label>
                    <input type="number" class="form-control" formControlName="outputAddrType">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Output Port</label>
                    <input type="number" class="form-control" formControlName="outputPort">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-6">
                    <label for="exampleFormControlInput1" class="form-label">Oper ID</label>
                    <input type="number" class="form-control" formControlName="operID">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-6">
                    <label for="exampleFormControlInput1" class="form-label">Door Action</label>
                    <input type="number" class="form-control" formControlName="doorAction">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-6">
                    <label for="exampleFormControlInput1" class="form-label">Door/AuxoutID</label>
                    <input type="number" class="form-control" formControlName="doorOrAuxoutID">
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-success" type="submit">Lưu</button>
            <button type="button" class="btn btn-secondary" style="margin-left: 10px;" mat-button mat-dialog-close>Đóng</button>
        </div>
    </form>
</div>
